%% -*- mode: erlang -*-
{erl_opts, [debug_info, warnings_as_errors, {platform_define, "^[0-9]+",
                                             namespaced_types}]}.
{deps, [
        {protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1p5"}}}
       ]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions,
               locals_not_used]}.
{eunit_opts, [verbose]}.
{plugins, [
   { rebar3_protobuffs_plugin, {git, "git://github.com/bieniusa/rebar3_protobuffs_plugin", {branch, "master"}}},
  { riak_pb_msgcodegen, {git, "git://github.com/tsloughter/riak_pb_msgcodegen",
     {branch, "master"}}}
]}.

{provider_hooks, [{pre, [{compile, {protobuffs, compile}},
                         {clean, {protobuffs, clean}}]}]}.

%% Fixes attempted removal of riak_pb directory by rebar_escripter
{escript_name, "doesnothavescript"}.

{edoc_opts, [{preprocess, true}]}.

{gpb_opts, [
    {i, "src"},
    {module_name_suffix, "_pb"},
    {o_erl, "src"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs]}.
